
<div class="mobile-tabs-section">
    <div class="container">
        <mat-tab-group>

            <mat-tab label="Android Development">

                <div class="mobile-tabs-summry">
                    <div class="mobile-tabs-summry-block">
                        <div class="row flex">
                            <div class="col-sm-12  col-md-6">
                                <img src="/assets/images/android-application.svg" alt="">
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <h2><span>Android Application </span>development at its
                                    best !</h2>
                                <p>We offer professional and reliable Android application development services that
                                    cater to diverse client needs and business objectives. Tailored to meet client
                                    requirements, we design, develop, test, upgrade, implement, and support
                                    customized Android application with outstanding utility and superior performance.
                                    Our dedicated team of mobile application developers has keen knowledge and
                                    skilled expertise in Android platform that can be seamlessly adapted and integrated
                                    across multiple platforms and conventional Smartphone architectures. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <app-contact-form></app-contact-form>
                </div>
            </mat-tab>
        
            
            <mat-tab label="IOS Development">
                <div class="mobile-tabs-summry">
                    <div class="mobile-tabs-summry-block">
                        <div class="row flex">
                            <div class="col-sm-12 col-md-6">
                                <img src="/assets/images/iOS-application.svg" alt="">
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <h2><span>iOS Application </span>development</h2>
                                <p>We have extensive experience in iOS apps to meet our client requirements. We
                                    entrust to make use of the unique iPhone features along with the iOS. Our
                                    professionally skilled iOS development team helps generate innovative iPhone
                                    Apps as per your business requirements. We develop applications that take
                                    advantage of the following iPhone technologies. Ex: multi-touch interface, GPS,
                                    accelerometer, dialer, proximity sensor, address book and calendar.
                                </p>
                            </div>
                        </div>
                    </div>
                    <app-contact-form></app-contact-form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>