<div class="service-tabs-section">
    <div class="container">
        <mat-tab-group [(selectedIndex)]="tabNumber">

            <mat-tab label="">
                <ng-template mat-tab-label>Custom<br> Development</ng-template>
                <div id="custom-development" class="custom-development">
                    <p class="header-parargraph">With a number of Open source & commercial off-the-shelf CMS solutions
                        out there, the choice becomes rather difficult. Nevertheless, would you rather prefer a CMS that
                        fits your business
                        workflow or the other way round?</p>
                    <div class="custom-development-block">
                        <div class="row flex">
                            <div class="col-md-6">
                                <img src="/assets/images/custom-development.svg" alt="">
                            </div>
                            <div class="col-md-6">
                                <h2><span>Custom </span>Development.</h2>
                                <p>In an information-driven economy, efficiently capturing, creating and managing
                                    information is not only vital but critical to the success of your business. And
                                    while information is at the core of your business, how the information is leveraged
                                    goes to the core of your competitive advantage.
                                </p>
                                <p>We work with you to understand your unique business requirements and deliver a
                                    solution that matches your needs. Our custom solutions have ranged from a basic
                                    web content management system to enterprise content management with
                                    complex workflow management and ACL implementation.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cms-development">
                        <div class="row flex">
                            <div class="col-md-6">
                                <h2>Custom <span>CMS Development</span> Solution Deliver.</h2>
                                <ul>
                                    <li>
                                        <p>Intuitive yet powerful interface</p>
                                    </li>
                                    <li>
                                        <p>Custom built functionalities with scalable architecture</p>
                                    </li>
                                    <li>
                                        <p>Custom built functionalities with scalable architecture</p>
                                    </li>
                                    <li>
                                        <p>Business workflow incorporation</p>
                                    </li>
                                    <li>
                                        <p>Planned data management and security protocols</p>
                                    </li>
                                    <li>
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                                    </li>
                                    <li>
                                        <p>Gateway to in-house and external systems</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <img src="/assets/images/cms-development.svg" alt="">
                            </div>
                        </div>

                    </div>
                    <app-contact-form></app-contact-form>
                </div>
            </mat-tab>


            <mat-tab label=" ">
                <ng-template mat-tab-label>Open Source<br> Implimentation</ng-template>

                <div id="open-source-implimentation" class="open-source-implimentation">
                    <div class="row flex">
                        <div class="col-md-6">
                            <img src="/assets/images/Based-Development.svg" alt="">
                        </div>

                        <div class="col-md-6">
                            <h2><span>CMS</span>Based Development</h2>
                            <p>Content Management System is a convenient method of managing workflow. It is
                                the most frequently recommended open source service that is needed for eBusiness.
                                CMS Development in PHP and Ruby on Rails is our Expertise. Our dedicated team
                                of professionals offers you the most effective CMS solutions at the most affordable
                                rates. Our services will help you effectively manage the workflow of your company
                                in a shared environment. This, in turn, can enable your employees and users to do
                                several activities such as controlling the access to information, sharing and
                                retrieving data etc.
                            </p>
                        </div>

                    </div>
                    <p>We use various web applications and technologies such as <span>PHP, MySQL, MS SQL, Postgre SQL,
                            SQLite, Oracle, Apache,
                            MongoDB or NOSQL</span> etc. Our team specializes in:</p>
                    <ul>
                        <li> <span>Wordpress</span></li>
                        <li> <span>Drupal</span></li>
                        <li> <span>Magento</span></li>
                        <li> <span>Joomla</span></li>
                        <li> <span>Radiant</span></li>
                        <li> <span>Refinery</span></li>
                    </ul>

                    <app-contact-form></app-contact-form>
                </div>
            </mat-tab>



            <mat-tab label=" ">
                <ng-template mat-tab-label>Maintanance <br>and Support</ng-template>

                <div id="maintanance-and-support" class="maintanance-and-support">
                    <div class="row flex">
                        <div class="col-md-6">
                            <img src="/assets/images/maintanance-and-support.svg" alt="">
                        </div>
                        <div class="col-md-6">
                            <h2><span>Want a professional</span> to Maintain your <br> Website ?</h2>
                            <p>We understand how important it is to keep your business running seamlessly for
                                24x7. Our specially designed maintenance and support plan for CMS would keep
                                your website up to date all the time. Large companies can easily afford hiring a
                                dedicated team to maintain and support their CMS driven websites while small to
                                medium-sized organizations may not be able to do so. We provide expert Content
                                Management System maintenance & support solutions that allow businesses to
                                manage their CMS (Dynamic) websites, even without having technical expertise.
                            </p>
                        </div>
                    </div>

                    <ul>
                        <li> <span>Version Update</span></li>
                        <li> <span>Security Patch Update</span></li>
                        <li> <span>Content updates on the website</span></li>
                        <li> <span>Data management</span></li>
                        <li> <span>Database backups</span></li>
                        <li> <span>Catalog Management</span></li>
                        <li> <span>Server Review & recommendations</span></li>
                        <li> <span>Code Restructuring</span></li>
                        <li> <span>Performance Optimization</span></li>
                        <li> <span>Functionality Enhancements</span></li>
                    </ul>

                    <app-contact-form></app-contact-form>
                </div>
            </mat-tab>


            <mat-tab label=" ">
                <ng-template mat-tab-label>Our <br>Expertise</ng-template>

                <div id="our-expertise" class="our-expertise">
                    <ul>
                        <li>
                            <div class="our-expertise-card">
                                <img src="/assets/images/drupal.svg" alt="">
                                <span>Drupal</span>
                                <p>We provide web development,
                                    Drupal development and web design
                                    services for clients worldwide. We've
                                    worked on all sizes and types of
                                    sites,</p>
                            </div>
                        </li>

                        <li>
                            <div class="our-expertise-card">
                                <img src="/assets/images/wordpress.svg" alt="">
                                <span>Wordpress</span>
                                <p>Our focus is to help you create a
                                    professional website and to helping
                                    you out to develop strategies to
                                    promote your business online.</p>
                            </div>
                        </li>

                        <li>
                            <div class="our-expertise-card">
                                <img src="/assets/images/magento.svg" alt="">
                                <span>Magento</span>
                                <p>Our Designers and Magento
                                    developers are good in analyzing
                                    your business requirement, which
                                    help us to design your online store
                                    the way you wants.</p>
                            </div>
                        </li>
                        <li>
                            <div class="our-expertise-card">
                                <img src="/assets/images/php.svg" alt="">
                                <span>PHP OOP/ MVC</span>
                                <p>Our team of PHP developers has
                                    strong experience in delivering
                                    highly secured, multi-user, robust
                                    high\valued and high performance
                                    web applications.</p>
                            </div>
                        </li>
                        <li>
                            <div class="our-expertise-card">
                                <img src="/assets/images/responsive.svg" alt="">
                                <span>Responsive Design</span>
                                <p>Clever Monks specializes in
                                    building shapeable viewing
                                    experiences as a responsive web
                                    design company for businesses
                                    all over the globe.</p>
                            </div>
                        </li>
                        <li>
                            <div class="our-expertise-card">
                                <img src="/assets/images/apple.svg" alt="">
                                <span>IOS Development</span>
                                <p>We have extensive experience in
                                    iOS apps to meet our client
                                    requirements. We entrust to make
                                    use of the unique iPhone features
                                    along with the iOS.</p>
                            </div>
                        </li>
                        <li>
                            <div class="our-expertise-card">
                                <img src="/assets/images/seo.svg" alt="">
                                <span>SEO</span>
                                <p>Our Search Engine Optimization
                                    service encompasses consultation,
                                    keyword research, copywriting,
                                    creating incoming links, submitting
                                    to search engines.</p>
                            </div>
                        </li>
                        <li>
                            <div class="our-expertise-card">
                                <img src="/assets/images/android.svg" alt="">
                                <span>Android</span>
                                <p>We offer professional and reliable
                                    Android application development
                                    services that cater to diverse client
                                    needs and business objectives.</p>
                            </div>
                        </li>
                    </ul>
                    <app-contact-form></app-contact-form>
                </div>
            </mat-tab>

        </mat-tab-group>

    </div>
</div>
