<!-- banner-section -->
<app-banner-carousel></app-banner-carousel>

<!-- our-profile -->

<section class="our-profile">
  <div class="container">
    <h2><span>Snapshot</span> Of Our Profile</h2>
    <p>Our current catalog of completed solutions includes but are not limited to static websites, dynamic e-commerce p
      atforms, interactive web applications, proprietary mobile content management platform, interactive web
      applications, database management solutions, document management solutions, online surveys solutions, CRM
      implementation and management, just to name a few.</p>

    <div class="carousel-block">
      <app-our-profile-carousel></app-our-profile-carousel>
    </div>
  </div>
</section>

<!-- overview-section -->

<section class="overview-section">
  <div class="container">
    <p>Receive dedicated service at every stage of your project, from initial specification to
      final delivery to maintenance with 24/7 monitoring and support.</p>
  </div>
</section>


<!-- our-services -->

<section class="our-services">
  <div class="container">
    <div class="row">
      <div class=" col-lg-5  col-sm-12">
        <div class="our-services-left-block">
          <img src="/assets/images/our-service-main-img.svg" alt="">
          <h2>Our <span>Services</span></h2>
          <p>We utilize various development and progress tracking
            methodologies to ensure efficient, timely project delivery.
            Agile software development is our preferred method of
            delivery for larger more complex projects. Our rapid
            application Development system is perfect for short,
            critical timelines when deadlines cannot be missed.Check
            with us, we're sure to have a solution for you.</p>
        </div>
      </div>
      <div class=" col-lg-7 col-sm-12">
        <div class="our-services-right-block">
          <ul>
            <li>
              <img src="/assets/images/designing.png" alt="">
              <span>Designing</span>
              <p> Concept Development, Proof of
                Concept, Wire framing, Design,
                Scope Development, Business
                Plan Consulting, Audience
                Subscriber list building, and more. </p>
            </li>
            <li>
              <img src="/assets/images/planning.png" alt="">
              <span>Planning</span>
              <p> Concept Development, Proof of
                Concept, Wire framing, Design,
                Scope Development, Business
                Plan Consulting, Audience
                Subscriber list building, and more. </p>
            </li>
            <li>
              <img src="/assets/images/development.png" alt="">
              <span>Development</span>
              <p>Programming, Engineering, User
                Interface /User Experience (Mobile
                and Web), Cross Platform Consulting,
                Engine Optimization , Search Engine Marketing, and more.</p>
            </li>
            <li>
              <img src="/assets/images/maintainance.png" alt="">
              <span>Maintenance</span>
              <p> Ongoing support including
                but not limited to 24/7 access
                via phone and email, Server Set
                Up, Search Various levels of
                Service Agreements and more.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact-form></app-contact-form>
