    
    <!-- (swiper)="onSwiper($event)" (slideChange)="onSlideChange()"  -->
    <swiper [config]="config">

        <ng-template swiperSlide>
            <section class="our-profile-section">
                <div class="container">
                    <div class="row flex">
                        <div class="col-md-6">
                            <div class="our-profile-img">
                                <img src="/assets/images/our-profile-slider-1.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="our-profile-txt">
                                <h3>Over <span>10 Years</span> Combined<br> Industry Experince</h3>
                                <p>Our executive team has a combined 10+ years of experience in all aspects of
                                    technology design, development, and deployment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ng-template>

        <ng-template swiperSlide>
            <section class="our-profile-section">
                <div class="container">
                    <div class="row flex">
                        <div class="col-md-6">
                            <div class="our-profile-img">
                                <img src="/assets/images/our-profile-slider-1.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="our-profile-txt">
                                <h3><span>1000+</span> <br>Successfull
                                    Project</h3>
                                <p>Our executive team has a combined 10+ years of experience in all aspects of
                                    technology design, development, and deployment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ng-template>
        <ng-template swiperSlide>
            <section class="our-profile-section">
                <div class="container">
                    <div class="row flex">
                        <div class="col-md-6">
                            <div class="our-profile-img">
                                <img src="/assets/images/our-profile-slider-1.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="our-profile-txt">
                                <h3>Over <span>10 Years</span> Combined Industry Experince</h3>
                                <p>We enjoyed every single client and project on our way to 1000, and are already
                                    enjoying new relationships as we begin our second 1000!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ng-template>
        <ng-template swiperSlide>
            <section class="our-profile-section">
                <div class="container">
                    <div class="row flex">
                        <div class="col-md-6">
                            <div class="our-profile-img">
                                <img src="/assets/images/our-profile-slider-1.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="our-profile-txt">
                                <h3><span>ISO 9001</span> <br>
                                    Compliance</h3>
                                <p>Quality is important to us. We strive daily to exceed our clients
                                    expectations. From the smallest project to the complex, control guides us every step
                                    of the way.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ng-template>
        <ng-template swiperSlide>
            <section class="our-profile-section">
                <div class="container">
                    <div class="row flex">
                        <div class="col-md-6">
                            <div class="our-profile-img">
                                <img src="/assets/images/our-profile-slider-1.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="our-profile-txt">
                                <h3><span>Ecommerce</span><br> Consulting</h3>
                                <p>Our team can guide you from start to finish and beyond with your eCommerce business.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ng-template>
        <ng-template swiperSlide>
            <section class="our-profile-section">
                <div class="container">
                    <div class="row flex">
                        <div class="col-md-6">
                            <div class="our-profile-img">
                                <img src="/assets/images/our-profile-slider-1.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="our-profile-txt">
                                <h3><span>24x7</span><br> Support</h3>
                                <p>We are on call with 24/7 monitoring of server networks and have staff on call for
                                    programming needs you may have without warning.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ng-template>
        <ng-template swiperSlide>
            <section class="our-profile-section">
                <div class="container">
                    <div class="row flex">
                        <div class="col-md-6">
                            <div class="our-profile-img">
                                <img src="/assets/images/our-profile-slider-1.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="our-profile-txt">
                                <h3><span>Tailor Made</span><br> Billing</h3>
                                <p>Request for Proposal - Our team would love to hear from you. Even if you just need
                                    help defining a scope of work. Or just work with us for parts along the way.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ng-template>
        <ng-template swiperSlide>
            <section class="our-profile-section">
                <div class="container">
                    <div class="row flex">
                        <div class="col-md-6">
                            <div class="our-profile-img">
                                <img src="/assets/images/our-profile-slider-1.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="our-profile-txt">
                                <h3>Over <span>10 Years</span> Combined Industry Experince</h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ng-template>
    </swiper>
