// tabs-sass--

::ng-deep mat-tab-header {
  width: fit-content !important;
  margin: 0 auto !important;
  border: none !important;

  .mat-tab-list {}

  .mat-tab-labels {
      display: flex;
      height: 100px;
      align-items: center;
  }

  .mat-ink-bar {
      display: none !important;
  }

  .mat-tab-label-active {
      background: #F21863 !important;
      border-radius: 10.95px !important;
      color: #fff !important;
  }

  .mat-tab-label {
      padding: 10px 20px;
      background: #FFFFFF;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 10.95px;
      margin: 10px;
      color: #F21863;
  }
}

// ---




.company-tabs-section {
  padding: 100px 0 50px;

  mat-tab-group {}
}

::ng-deep mat-tab-body {

  .mat-tab-body-content {
      overflow: initial !important;
  }

  .company-tabs-summry {

      .company-tabs-summry-block {

          padding: 60px 0 20px;

          img {
              width: 100%;
              max-width: 550px;
          }

          h2 {
              margin-bottom: 50px !important;

              span {
                  display: block;
              }

              &:after {
                  left: 18%;
              }

              &::before {
                  left: 10%;
              }
          }
      }
  }
}


$breakpoint-ipad-pro: 1024px;

@media (max-width: $breakpoint-ipad-pro) {
  .company-tabs-section {
      padding: 50px 0;

      .row {

          .col-sm-12 {

              img {
                  margin: 0 auto;
                  display: block;
                  margin-bottom: 80px;
              }
          }
      }
  }
}

$breakpoint-ipad: 768px;

@media (max-width: $breakpoint-ipad) {
  .company-tabs-section {
      padding: 100px 0 50px;

      .row {
          flex-direction: column;

          .col-sm-12 {
              width: 100%;
              max-width: 100%;

              img {
                  margin: 0 auto;
                  display: block;
                  margin-bottom: 80px;
              }
          }
      }
  }

}


// ---form-

.home-contact-form {
  padding: 60px 0;

  position: relative;

  &:after {
    content: "";
    width: 100%;
    max-width: 200px;
    height: 200px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-image: url(/assets/images/left-leave-down-img.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  h2 {
    margin: 0 auto;
    margin-bottom: 120px !important;

    span {
    }
  }

  .home-contact-form-body {
    img {
      width: 100%;
      max-width: 500px;
    }

    form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      .form-field {
        width: 50%;
        max-width: 46%;
        margin: 10px 10px 20px;

        label {
          display: block;
          color: #000072;
          font-size: 14px;
          margin-left: 25px;
          font-weight: 400;
        }

        input,select {
          width: 100%;
          height: 60px;
          margin: 5px 10px 10px;
          padding: 10px 20px;
          border-radius: 50px;
          background-color: rgba(242, 21, 100, 0.1);
          border: none;

          &:focus {
            outline: none;
          }
          &::placeholder{
            color: #cbc2dc;
            font-size: 12px !important;
          }
        }
        option.selected-placeholder{
          font-size: 12px;
          color: #cbc2dc;
        }

        // textarea {
        //   width: 100%;
        //   height: 100px;
        //   padding: 10px 20px;
        //   border-radius: 20px;
        //   background-color: rgba(242, 21, 100, 0.1);
        //   border: none;
        //   margin-top: 10px;

        //   &:focus {
        //     outline: none;
        //   }
        // }

        &:nth-last-child(4) {
          width: 100%;
          max-width: 100%;
        }

        // &:nth-last-child(2) {
        //   width: 100%;
        //   max-width: 100%;
        //   margin-right: 0;
        //   margin-left: 20px;
        // }
      }

      .primary-btn {
        margin: 30px auto;
      }
    }
  }
}

.error {
  color: red;
  font-size: 14px;
  margin-left: 30px;
}

$breakpoint-ipad-pro: 1200px;

@media (max-width: $breakpoint-ipad-pro) {
  .home-contact-form {
    .home-contact-form-body {
      .contact-form-body-flex {
        img {
          width: 100%;
          max-width: 100%;
          margin: 0 auto;
          display: block;
          margin-bottom: 80px;
        }

        form {
          .form-field {
            max-width: 45%;

            &:nth-last-child(3) {
              max-width: 100%;
            }

            &:nth-last-child(2) {
              max-width: 100%;
              margin-right: 0;
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}

$breakpoint-tablets: 768px;

@media (max-width: $breakpoint-tablets) {
  .home-contact-form {
    .home-contact-form-body {
      .contact-form-body-flex {
        .col-sm-12 {
          width: 100%;
          max-width: 100%;

          img {
            max-width: 70%;
          }

          form {
            justify-content: space-between;

            .form-field {
              max-width: 48%;
              margin: 10px 0 0;

              &:nth-last-child(3),
              &:nth-last-child(2),
              input {
                max-width: 100%;
                margin: 10px 0 0;
              }
            }
          }
        }
      }
    }
  }
}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
  form {
    display: block !important;

    .form-field {
      width: 100% !important;
      max-width: 100% !important;
    }

    .primary-btn {
      display: block;
      width: fit-content;
    }
  }

  .home-contact-form
    .home-contact-form-body
    .contact-form-body-flex
    .col-sm-12
    img {
    max-width: 100%;
  }
  .home-contact-form {
    &:after {
      max-width: 110px;
      height: 110px;
    }
  }
}
