<div class="portfolio-tabs-section">



    <div class="mat-tab-group">
    <mat-tab-group>
            <mat-tab label="">
                <ng-template mat-tab-label>Web Design & <br> Developmet</ng-template>
                <div class="web-design-and-developmet computer-frame">
                    <div class="container">
                        <div class="design-frame-body">
                            <ul>
                                <li><a href="#"><img src="/assets/images/computer-fisrt-frame.svg" alt=""></a></li>
                                <li><a href="#"><img src="/assets/images/computer-second-frame.svg" alt=""></a></li>
                                <li><a href="#"><img src="/assets/images/computer-third-frame.svg" alt=""></a></li>
                            </ul>
                        </div>
                        <span>Web Design & Developmet</span>
                    </div>
                </div>
                <app-contact-form></app-contact-form>
            </mat-tab>
    
            <mat-tab label="">
                <ng-template mat-tab-label>UI/UX Design <br> & Development</ng-template>
                <div class="web-design-and-developmet uiux-design">
                    <div class="container">
                        <div class="design-frame-body ">
                            <ul>
                                <li><a href="#">
                                  <img src="/assets/images/mob-first-frame.svg" alt="">
                                    </a></li>
                                <li><a href="#"><img src="/assets/images/mob-second-frame.svg" alt=""></a></li>
                                <li><a href="#"><img src="/assets/images/mob-third-frame.svg" alt=""></a></li>
                            </ul>
                        </div>
                        <span>UI/UX Design & Development</span>
                    </div>
                </div>
                <app-contact-form></app-contact-form>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>